In [0]:
import pyspark.sql.functions as F
from pyspark.sql.window import Window

data = [("Anderson","Sales","NY",90000),
    ("Kenedy","Sales","CA",86000),
    ("Kenny","Sales","CA",86000),
    ("Billy","Sales","NY",81000),
    ("Andy","Finance","CA",90000),
    ("Mary","Finance","NY",99000),
    ("Eduardo","Finance","NY",83000),
    ("Mendes","Finance","CA",79000),
    ("Keyth","Marketing","CA",80000),
    ("Truman","Marketing","NY",91000)
  ]

schema = ["name","dep_name","state","salary"]
spark.createDataFrame(data=data, schema = schema).createOrReplaceTempView("tbl_window")

In [0]:
%sql
SELECT * FROM tbl_window

name,dep_name,state,salary
Anderson,Sales,NY,90000
Kenedy,Sales,CA,86000
Kenny,Sales,CA,86000
Billy,Sales,NY,81000
Andy,Finance,CA,90000
Mary,Finance,NY,99000
Eduardo,Finance,NY,83000
Mendes,Finance,CA,79000
Keyth,Marketing,CA,80000
Truman,Marketing,NY,91000

In [0]:
%sql
SELECT name, dep_name, salary, RANK() OVER (PARTITION BY dep_name ORDER BY salary) AS rank FROM tbl_window

name,dep_name,salary,rank
Mendes,Finance,79000,1
Eduardo,Finance,83000,2
Andy,Finance,90000,3
Mary,Finance,99000,4
Keyth,Marketing,80000,1
Truman,Marketing,91000,2
Billy,Sales,81000,1
Kenedy,Sales,86000,2
Kenny,Sales,86000,2
Anderson,Sales,90000,4

In [0]:
%sql
SELECT name, dep_name, salary, DENSE_RANK() OVER (PARTITION BY dep_name ORDER BY salary ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS rank FROM tbl_window

name,dep_name,salary,rank
Mendes,Finance,79000,1
Eduardo,Finance,83000,2
Andy,Finance,90000,3
Mary,Finance,99000,4
Keyth,Marketing,80000,1
Truman,Marketing,91000,2
Billy,Sales,81000,1
Kenedy,Sales,86000,2
Kenny,Sales,86000,2
Anderson,Sales,90000,3